.App {
  text-align: center;
  height:100%;
  background-color: #a4b3b6;
  font-family: 'Piazzolla', serif;
}

html, body {
  margin: 0;
  height: 100%; 
  /* overflow: hidden; */
}

.nav-break{
  background-color: #a4b3b6;
  /* display:inline-block; */
  width:100%;
  height:11vh;
}

.footer {
  /* for sticky footer, use absolute */
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #d93f87;
  color:white;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.card{
  margin-bottom:1rem !important;
  background-color: #44318d !important;
}

