.contact{
    /* min-height:80vh;
    background:#a4b3b6;
    color:white;
    padding-left: 5%;
    padding-right:5%;
    padding-bottom:5%; */

    height:90vh;
    background:#a4b3b6;
    color:white;
    background: url('../../assets/fencing2.jpg') no-repeat center center fixed; 
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 10%;
    

}

.box_shw2 {
    box-shadow: rgba(0, 0, 0, 0.12) 0 0 25px;
  }
  
  .f_12_14 {
    font-size: 12px;
    line-height: 14px !important;
  }
  
  .f_20_22 {
    font-size: 20px;
    line-height: 22px !important;
  }
  
  .bg_grey {
    background-color: #f1f1f1 !important;
  }
  
  .w_500 {
    width: 500px;
    max-width: 100%;
  }

  .list-group-item{
      background:white !important;
      border:none !important;
      color:black;
  }
  
  .card-header{
      color:black;
      font-weight: bold;
  }

  .card{
      margin-top:1rem !important;
      margin-bottom:1rem !important;
  }

  .form-container{
    margin-left:5%;
    margin-right:5%;
  }