.pricing{
    height:90vh;
    background:#a4b3b6;
    color:white;
    background: url('../../assets/fencing2.jpg') no-repeat center center fixed; 
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top:10%;
}